<header class="header">
    <nav class="nav">
      <p class="nav__logo"><a href="/restaurants/">Let's<span class="nav__logo--sub">Eat</span></a></p>
      <ul class="nav__items">
        <!-- <li class="nav__item"><a href="/restaurants">Home</a></li> -->
        <li class="nav__item"><a href="/restaurants/orders/all">Orders</a></li>
        <li class="nav__item"><a href="/contacts">Contact Us</a></li>
        <!-- <li id="cart"><a href="/restaurants/cart"><i class="fas fa-shopping-cart"></i><span id="cart-count"></span></a></li> -->
      </ul>
    </nav>
  </header>