<% include partials/_head%>
  <body>
    <% include partials/_header%>
    <section class="order__items nav-clear">
    </section>
    <button class="btn btn-primary" onclick="submitOrder(this)">Submit Order</button>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/checkout.js"></script>
  </body>
</html>