<!DOCTYPE html>
 <html> 
     <head> 
     </head>

  <body> 
        <h1>Thank you for you order</h1>
        <h3>Your order reference number is #<%= ref_no%> </h3>
        <h4>We will update you with a pickup time shortly via SMS</h4>

    <script type="text/javascript" src="/scripts/confirmation.js"></script>
  </body>

  </html>

