<% include partials/_head%>
  <body>
    <% include partials/_header%>

    <section class="nav-clear container confirmation">
            <h1 class="confirmation__header">Thank you for you order</h1>
            <h3 class="confirmation__ref">Your order reference number is #<span id="ref_no"><%= ref_no%> </span></h3>
            <h4 class="confirmation__temp">We will update you with a pickup time shortly via SMS</h4>
            <h4 id = "demo"></h4>
            <a class="confirmation__link" href= "/restaurants/orders/<%= ref_no%>">View Order</a>
    </section>
    <script type="text/javascript" src="/scripts/confirmation.js"></script>
  </body>
</html>

