<body>
        <header class="header">
          <nav class="nav">
            <p class="nav__logo">Let's<span class="nav__logo--sub">Eat</span></p>
            <ul class="nav__items">
              <li class="nav__item"><a href="/restaurants">Home</a></li>
              <li class="nav__item"><a href="/contact">Contact Us</a></li>
              <li class="nav__item" id="cart"><a href="/cart">Cart</a></li>
            </ul>
          </nav>
        </header>

        <H1>Let's Eat</H1>
 <span class = Contact>
     
     <p>Contact Us!</p>
     <p>Email - letseat@lighthouselabs.ca</p>
     <p>Phone Number - 2982110192</p>
     <p>Follow us on our social media!</p>
     
    
 </span>





</body>

