<% include partials/_head%>
<body>
        <% include partials/_header%>

        <H1>Let's Eat</H1>
 
 
<div class = "nav-clear">
     
     
    
     <p>Contact Us!</p>
     <p>Email - letseat@lighthouselabs.ca</p>
     <p>Phone Number - 2982110192</p>
     <p>Follow us on our social media!</p>
     
    
</div>





</body>

