<% include partials/_head%>
<body>
  <% include partials/_header%>
  <section class="container nav-clear contact">
    <h1 class="contact__header">Let's <span class="contact__color">Eat</span></h1>
    <div class = "contact__container">
      <p class="contact__title">Contact Us!</p>
      <p><i class="fas fa-envelope"></i> - 
        <a href="mailto:contact@letseat.ca">
            contact@letseat.ca
        </a> 
      </p>
      <p><i class="fas fa-phone"></i> - 
        <a href="tel:+298-211-0192">
            298-211-0192
        </a> 
      </p>
      <p class="contact__social-text"> Follow us on our social media!
        <div class="contact__social">
          <a href="#">
              <i class="fab fa-facebook-square"></i>
          </a> 
          <a href="#">
              <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
              <i class="fab fa-instagram"></i>
          </a>
        </div>
      </p>
    </div>
  </section>
</body>

