<body>
        <header class="header">
          <nav class="nav">
            <p class="nav__logo">Let's<span class="nav__logo--sub">Eat</span></p>
            <ul class="nav__items">
              <li class="nav__item"><a href="/restaurants">Home</a></li>
              <li class="nav__item"><a href="/contact">Contact Us</a></li>
              <li class="nav__item" id="cart"><a href="/cart">Cart</a></li>
            </ul>
          </nav>
        </header>

<div class="restaurant-container">
    <H1> Fresh on Crawford </H1>
<span class = "Info text">
    <p>
        Fresh is Toronto’s original source for modern vegan and vegetarian food, both to eat in and to take away. We also offer a full line of raw, organic cold pressed juice, and a traditional made-to-order gourmet juice bar. Since our first days, we have made it our mission to prove that a plant based diet can be satisfying, energizing and crave-able. Our food is made daily, in-house, from whole, natural ingredients. Our menu is totally vegan friendly,with dairy options available throughout. Our traditional juices are made right before your eyes, and our cold-pressed juices are made daily from the best organic produce and supplements.
    </p>
    <p>
        We offer a weekend brunch menu every Saturday and Sunday, plus selected holidays, from 10:30 am to 3 pm, alongside our regular menu.
    </p>
    <p>
        There has never been a better time to eat this way, since going vegan is now considered the single best thing you can do for the environment! Our menu ranges from comfort food classics, like burgers, fries & onion rings, to healthy staples like kale & quinoa salads and noodle and rice bowls with steamed greens & grilled tofu. On the juice bar, try a fresh carrot and spinach juice, a green smoothie or a deep chocolate power shake. The choice is yours. But rest assured, our menu items have one thing in common – they're all delicious!
    </p>

</span>

<span class = Contact>
     
        <p>Contact Us!</p>
        <p>Email - fresh@lighthouselabs.ca</p>
        <p>Phone Number - 2982214316</p>
        
        
       
</span>
   

</div>






</body>