<!DOCTYPE html>
 <html> 
     <head> 
            <script src="https://unpkg.com/moment"> </script>
     </head>

  <body> 
        
    <form method="POST" action="/restaurants/orders/:<% ref_no %>">
        <label for="ready_time">Ready Time</label>
        <input type="text" name="ready_time" id="ready_time">
        <button type="submit">submit</button>
    </form>
   
  </body>
  </html>

