.page-container{
  max-width: 1140px;
  margin: 0 auto;
}
.menu{
  &__container{
    position: relative;
  }

  &__category{
    color: $color-primary;
    font-size: 4rem;
  }
  &__items{
      display: flex;
      flex-wrap: wrap;
  }
  &__item{
    width: 27%;
    margin-right: 3rem;
    margin-left: 3rem;

    & img{
      width: 33rem;
      height: 52rem;
      object-fit: cover;
    }
    
  }
}

